@import url('reset.css');

body{
    background-color: black;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    color: white;
}



/* Banner */

.banner-conteudo{
    text-align: center;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(49, 168, 221, 0) 100%), url('../trilha-css-desafio-01-main/assets/images/banner.png');
}

.banner-conteudo h1{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 2.5rem;
    line-height: 47px;
    text-transform: uppercase;
    color: transparent;
    background: linear-gradient(180deg, #33A8DB 0%, #1472B7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.banner-conteudo p{
    font-size: 1.25rem;
    margin: 16px 0 24px;
    padding: 5px;
    margin: 10px;
}

.banner-conteudo button{
    color:  #1472B7;
    background-color: black;
    border: 3px solid  #1472B7;
    padding: 15px;
    font-family: 'Raleway';
    font-size: 1rem;
    letter-spacing: 8px;

}

h2{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.19em;
    color: #33A8DB;
    background: linear-gradient(180deg, #33A8DB 0%, #1472B7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-align: center;
}

#conteudo-curso{
    margin: 50px;
    padding: 50px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.lista-modulos{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin: 150px;
}

.modulo{
    border: 5px solid #33A8DB;
    margin: 25px;
    padding: 10px;
    border-radius: 50px;
    background-color: rgba(43, 42, 42, 0.541);
}

.modulo span {
    color: #33A8DB;
  }

#transforme{
    position: absolute;
    margin: 100px;
    background-size: cover;
    background-attachment: fixed;
    border-top: 1px solid #33A8DB80;
    border-bottom: 1px solid #33A8DB80;
    padding: 200px;
    background: url('../trilha-css-desafio-01-main/assets/images/woman-code.png');
}

#transforme p{
    font-weight: 900;
    font-size: 2.5rem;
    text-transform: lowercase;
    max-width: 250px;
    text-shadow: 3px 2px #33A8DB;
}

#desafios {
    text-align: center;
}
  
#desafios img {
    margin: 32px 0;
}
  
footer {
    padding: 60px 0;
    text-align: center;
    background-image: linear-gradient(rgba(50, 168, 219, .0), rgba(50, 168, 219, .2));
    border-top: 1px solid #33A8DB80;
}
  
footer .dio-logo {
    width: 300px;
}
  
footer a {
    color: #33A8DB;
    font-weight: bold;
    text-decoration: none;
}
